@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

.container {
    background-color: white;
}
.container > div {
    padding: 20px; 
    margin: 1em;
}
.container .personal {
    padding: 0;
}
.personal header {
    display: flex;
    padding: 2rem;
}

.personal header div {
    background-color: #3cbcae;
    border-radius: 1rem;
    display: flex;
    flex-grow: 1;
    padding: 1rem 2rem;
    flex-direction: column;
}

header div textarea {
    flex-grow: 1;
    resize: none;
    border: none;
    outline: none;
    background: transparent;
}

.personal header img {
    height: 10rem;
    width: 10rem;
    border: .1rem solid gray;
    border-radius: 5rem;
    margin-right: 2rem;
}
.name {
    font-size: 3rem;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}
.personal ul {
    display: flex;
    justify-content: space-around;
    background-color: #e3e3e3;
    padding: 1rem;
}
.ul li{
    list-style: none;
    font-size: 1rem;
}
.ul li a{
    color: gray;
}
.ul li a i{
    color: #47ae71;
}
.skills ul li {
    background-color: #3cbcae;
    color: white;
    font-size: 1rem;
    padding: .5rem 1rem;
    margin-top: .5rem ;
    border-radius: .5rem;
}