.form {
    background-color: #252525;
    width: 80%;
    height: 80%;
    border-radius: 1em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    transition: all 1s;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    display: none;
}
.form h1 {
    font-size: 3em;
    text-align: center;
}

.formCompleted {
    background-color: #058f1c;
    justify-content: center;
    align-items: center;
    width: 20em;
    height: 20em;
    border-radius: 10em;
    animation: complete 3s ease-out 2s forwards;
}

@keyframes complete {
    70% { 
        width: 25em;
        height: 25em;; 
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.formCompleted p {
    font-size: 2em;
    animation: completeP 1s ease-out 2s forwards;
    opacity: 0;
}

@keyframes completeP {
    100% {
        opacity: 1;
    }
}