.container {
    background-color: yellow;
}

.container > div {
    border: 2px solid;
    padding: 20px; 
    margin: 1em;
}
.infoType {
    text-align: center;
    font-size: 2.5rem;
}

.profilePic {
    border-radius: 20rem;
    display: block;
    height: 10rem;
    width: 10rem;
    margin: 1.5rem;
}
p {
    font-size: 1.5rem;
}

.skills ul li {
    border: .1rem solid black;
    padding: .5rem 1rem;
    margin: .5rem ;
    display: inline-block;
}